<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/kino</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="org.app.movie.Director"/>
        <mapping class="org.app.movie.Actor"/>
        <mapping class="org.app.movie.Movie"/>
        <mapping class="org.app.movie.Spectacle"/>
        <mapping class="org.app.reservation.Reservation"/>
        <mapping class="org.app.room.Room"/>
        <mapping class="org.app.room.Seat"/>
        <mapping class="org.app.user.model.User"/>
    </session-factory>
</hibernate-configuration>